<!-- umi 约定如果这个文件存在，会作为默认模板 -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <!-- <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" /> -->
  <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_3866801_en6uo50jh4j.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>